In [22]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt




plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

%pylab inline
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
# loading HPD violations filtered for 2014 
#https://nycopendata.socrata.com/Housing-Development/Housing-Maintenance-Code-Violations/wvxf-dwi5/data
# NYPD Complaints data hisrotric 
#https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i/data

viol = pd.read_csv('Housing_Maintenance_Code_Violations.csv')

In [6]:
viol.head(10)

,ViolationID,BuildingID,RegistrationID,BoroID,Borough,HouseNumber,LowHouseNumber,HighHouseNumber,StreetName,StreetCode,...,NovType,ViolationStatus,Latitude,Longitude,CommunityBoard,CouncilDistrict,CensusTract,BIN,BBL,NTA
0,10392273,354043,818372,3,BROOKLYN,1757,1757,1757,PITKIN AVENUE,70930,...,Original,Close,40.670059,-73.908286,16.0,41.0,906.0,3080695.0,3.034890e+09,Brownsville
1,10448977,116971,712919,2,BRONX,2039,2039,2039,VALENTINE AVENUE,70720,...,Original,Close,40.851556,-73.900311,5.0,15.0,381.0,2013554.0,2.031490e+09,Mount Hope
2,10448978,116971,712919,2,BRONX,2039,2039,2039,VALENTINE AVENUE,70720,...,Original,Close,40.851556,-73.900311,5.0,15.0,381.0,2013554.0,2.031490e+09,Mount Hope
3,10451389,116971,712919,2,BRONX,2039,2039,2039,VALENTINE AVENUE,70720,...,Original,Close,40.851556,-73.900311,5.0,15.0,381.0,2013554.0,2.031490e+09,Mount Hope
4,10451447,116971,712919,2,BRONX,2039,2039,2039,VALENTINE AVENUE,70720,...,Original,Close,40.851556,-73.900311,5.0,15.0,381.0,2013554.0,2.031490e+09,Mount Hope
5,10451474,116971,712919,2,BRONX,2039,2039,2039,VALENTINE AVENUE,70720,...,Original,Close,40.851556,-73.900311,5.0,15.0,381.0,2013554.0,2.031490e+09,Mount Hope
6,10451477,116971,712919,2,BRONX,2039,2039,2039,VALENTINE AVENUE,70720,...,Original,Close,40.851556,-73.900311,5.0,15.0,381.0,2013554.0,2.031490e+09,Mount Hope
7,10454776,138349,337388,3,BROOKLYN,5510,5510,5514,13 AVENUE,6380,...,Original,Close,40.631547,-73.995756,12.0,44.0,216.0,3327728.0,3.056830e+09,Borough Park
8,10485688,66501,712955,2,BRONX,500,500,500,EAST 183 STREET,27150,...,Original,Close,40.854914,-73.892404,6.0,15.0,385.0,2011556.0,2.030500e+09,Claremont-Bathgate
9,10485693,66501,712955,2,BRONX,500,500,500,EAST 183 STREET,27150,...,Original,Close,40.854914,-73.892404,6.0,15.0,385.0,2011556.0,2.030500e+09,Claremont-Bathgate

In [7]:
len(viol)

397274

In [11]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
cities = gpd.read_file(gpd.datasets.get_path('naturalearth_cities'))

In [15]:
cities.head()

           name                                     geometry
0  Vatican City  POINT (12.45338654497177 41.90328217996012)
1    San Marino    POINT (12.44177015780014 43.936095834768)
2         Vaduz  POINT (9.516669472907267 47.13372377429357)
3    Luxembourg  POINT (6.130002806227083 49.61166037912108)
4       Palikir  POINT (158.1499743237623 6.916643696007725)

In [16]:
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,28400000.0,Asia,Afghanistan,AFG,22270.0,"POLYGON ((61.21081709172574 35.65007233330923,..."
1,12799293.0,Africa,Angola,AGO,110300.0,(POLYGON ((16.32652835456705 -5.87747039146621...
2,3639453.0,Europe,Albania,ALB,21810.0,"POLYGON ((20.59024743010491 41.85540416113361,..."
3,4798491.0,Asia,United Arab Emirates,ARE,184300.0,"POLYGON ((51.57951867046327 24.24549713795111,..."
4,40913584.0,South America,Argentina,ARG,573900.0,(POLYGON ((-65.50000000000003 -55.199999999999...

In [18]:
countries = world[['geometry', 'name']]

In [19]:
cities_with_country = gpd.sjoin(cities, countries, how="inner", op='intersects')

ImportError: No module named rtree